.git
**/node_modules
**/dist
**/coverage
**/*.log
.env
.env.*
!.env.example
.setdraft
.hydro-problem-make
.artifacts
**/*.sqlite*
**/.DS_Store
packages/hydro-web/public/open-source/*
!packages/hydro-web/public/open-source/index.html
